@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-text-align {
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 10px;
    margin-bottom: 50px;
}

.architectes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 16px;
    padding: 0 100px;
}

.architectes h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
    color: #131313;
}

.nav-link {
    display: flex;
    column-gap: 15px;
}

.nav-link li {
    margin-left: 1em;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

ul {
    list-style: none;
}

.brand-new {
    text-align: center;
    padding-top: 80px;
}

.brand-new h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    color: #131313;
}

.brand-new p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 30px;
    margin: 30px 225px;
}

.btn {
    font-size: 16px;
    padding: 15px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
    color: #ffff;
    background-color: #FF900E;

}

.brand {
    border-radius: 8px;
    width: 100%;
}

.pictures {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 130px;
}

.picture-album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

main {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
}

.quicklist {
    color: #727272;
    font-weight: 400;
}

.fes {
    color: #FF900E;
    font-weight: 700;
}

.pictures h2 {
    font-size: 45px;
}

.text {
    color: #727272;
    margin: 30px 0;
}

.heart {
    display: flex;
    margin-bottom: 130px;
}

.enjoy {
    border-left: 5px solid #FF900E;
    padding-left: 25px;
    font-size: 45px;


}

.sab-text {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.female {
    padding-left: 77px;

}

.female img {
    width: 100%;

}

.big-btn {
    font-size: 20px;
    padding: 45px 42px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
    color: #ffff;
    background-color: #FF900E;

}

.box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}

.friend {
    padding: 45px 45px;
    border: 1px solid #FF900E;
    text-align: center;
}

.some {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;

}

.spon-image {
    display: flex;
    justify-content: space-between;

}

.reserved {
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
}
.spon{
    text-align: center;
    margin-bottom: 130px;
  
}

